<%- include('partials/header') -%>
  <div class="container">
    <div class="row justify-content-center mt-5">

      <div class="card w-96 bg-base-100 shadow-xl">
        <div class="card-body">
          <h2 class="card-title">Yellowstone National Park</h2>
          <p>The World's First National Park</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary">See Trails</button>
          </div>
        </div>
      </div>

      <div class="card w-96 bg-base-100 shadow-xl">
        <div class="card-body">
          <h2 class="card-title">Glacier National Park</h2>
          <p>Crown of the Continent</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary">See Trails</button>
          </div>
        </div>
      </div>


    </div>
  </div>  
<%- include('partials/footer') -%>