<%- include('partials/header') -%>
  <div class="container">
    <div class="row justify-content-center mt-5">

      <div class="container px-4 py-5">
        <h2 class="pb-2 border-bottom">Park List</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
          <div class="col d-flex align-items-start">
    
            <div>
              <h3 class="fs-2">Acadia National Park</h3>
              <h5>Crown Jewel of the North Atlantic Coast</h5>
              <p>Acadia National Park protects the natural beauty of the highest rocky headlands along the Atlantic coastline of the United States, an abundance of habitats, and a rich cultural heritage. At 4 million visits a year, it's one of the top 10 most-visited national parks in the United States. Visitors enjoy 27 miles of historic motor roads, 158 miles of hiking trails, and 45 miles of carriage roads.</p>
              <a href="views\trail-list.ejs" class="btn btn-primary trail-list">
                See Trails
              </a>
            </div>
          </div>
          <div class="col d-flex align-items-start">
    
            <div>
              <h3 class="fs-2">Arches National Park</h3>
              <h5>A red-rock wonderland</h5>
              <p>Discover a landscape of contrasting colors, land forms, and textures unlike any other. The park has over 2,000 natural stone arches, hundreds of soaring pinnacles, massive rock fins, and giant balanced rocks. This red-rock wonderland will amaze you with its formations, refresh you with its trails, and inspire you with its sunsets.</p>
              <a href="#" class="btn btn-primary">
                See Trails
              </a>
            </div>
          </div>

          <div class="col d-flex align-items-start">
    
            <div>
              <h3 class="fs-2">Badlands National Park</h3>
              <h5>Land of Stone and Light</h5>
              <p>The rugged beauty of the Badlands draws visitors from around the world. These striking geologic deposits contain one of the world’s richest fossil beds. Ancient horses and rhinos once roamed here. The park’s 244,000 acres protect an expanse of mixed-grass prairie where bison, bighorn sheep, prairie dogs, and black-footed ferrets live today.</p>
              <a href="#" class="btn btn-primary">
                See Trails
              </a>
            </div>
          </div>

        </div>
      </div>

      <div class="container px-4 py-5">
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
          <div class="col d-flex align-items-start">   
            <div>
              <h3 class="fs-2">Big Bend National Park</h3>
              <h5>Splendid Isolation</h5>
              <p>There is a place in Far West Texas where night skies are dark as coal and rivers carve temple-like canyons in ancient limestone. Here, at the end of the road, hundreds of bird species take refuge in a solitary mountain range surrounded by weather-beaten desert. Tenacious cactus bloom in sublime southwestern sun, and diversity of species is the best in the country. This magical place is Big Bend...</p>
              <a href="#" class="btn btn-primary">
                See Trails
              </a>
            </div>
          </div>
          <div class="col d-flex align-items-start">
    
            <div>
              <h3 class="fs-2">Biscayne National Park</h3>
              <h5>A Watery Wonderland</h5>
              <p>Within sight of Miami, yet worlds away, Biscayne protects a rare combination of aquamarine waters, emerald islands, and fish-bejeweled coral reefs. Evidence of 10,000 years of human history is here too; from prehistoric tribes to shipwrecks, and pineapple farmers to presidents. For many, the park is a boating, fishing, and diving destination, while others enjoy a warm breeze and peaceful scenery.</p>
              <a href="#" class="btn btn-primary">
                See Trails
              </a>
            </div>
          </div>

          <div class="col d-flex align-items-start">
    
            <div>
              <h3 class="fs-2">Black Canyon of the Gunnison National Park</h3>
              <h5>Deep, Steep and Narrow</h5>
              <p>Big enough to be overwhelming, still intimate enough to feel the pulse of time, Black Canyon of the Gunnison National Park exposes you to some of the steepest cliffs, oldest rock, and craggiest spires in North America. With two million years to work, the Gunnison River, along with the forces of weathering, has sculpted this vertical wilderness of rock, water, and sky.</p>
              <a href="#" class="btn btn-primary">
                See Trails
              </a>
            </div>
          </div>
          
        </div>
      </div>

    </div>
  </div>  
<%- include('partials/footer') -%>